@import "tailwindcss";

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Aplica as animações com uma duração e timing */

.slideInFromLeft {
  animation: slideInFromLeft 1s ease-out;
}

.slideInFromTop {
  animation: slideInFromTop 1s ease-out;
}